<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <encoder>
      <pattern>%level: %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="droidsafe.eclipse.plugin.core">
		<level value="DEBUG" />
	</logger>
  
  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
    
</configuration>
