<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<encoder>
			<pattern>%level: %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- in the absence of the class attribute, it is assumed that the desired 
			discriminator type is ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>tool</key>
			<defaultValue>apiusage</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${tool}" class="ch.qos.logback.core.FileAppender">
				<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
					<level>DEBUG</level>
				</filter>
				<file>${tool}.log</file>
				<append>false</append>
				<encoder>
					<pattern>%level %logger{10} [%file:%line] %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<root level="TRACE">
		<appender-ref ref="SIFT" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
